page-chatlist {
    ion-menu{
        ion-content{
            background:white !important;
         color: white !important;
        }
       }
    .item-md{
        background: white !important;
        color: white !important;
    }
}
