page-groupchat {
    ion-menu{
        ion-content{
            background:white !important;
         color: black !important;
        }
       }
    .item-md{
        background: white !important;
        color: black !important;
    }
}
